.contact-us-header {
    background-image: url(../../assets/images/bg/bulb.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    top: -150px;
    // width: 100vw;
    filter: brightness(0.5);
    overflow-x: hidden;
}

.contact-us-hdr-text {
    position: absolute;
    width: 100%;
    height: 140.52px;
    bottom: 76px;
    // margin: auto;
    left: 0;
    padding: 0 150px;
    p {
        font-family: Avenir;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 55px;
        /* or 115% */
        // text-align: center;
        color: white;
        opacity: 1 !important;
    }
}

.request-demo {
    background-color: rgba(87, 87, 92, 0.2);
    padding: 80px 150px;
    h3 {
        color: #293165;
        font-style: normal;
        font-weight: normal;
        font-size: 45px;
    }
    input {
        width: 100%;
        border: none;
        outline: none;
        height: 70px;
        font-size: 20px;
        padding: 0 25px;
    }
    textarea {
        width: 100%;
        border: none;
        outline: none;
        font-size: 20px;
        padding: 30px 25px;
        height: 205px;
    }
     ::placeholder {
        color: #c0c0c0;
    }
    p {
        color: #293165;
        letter-spacing: 5px;
    }
    button {
        background: #293165;
        width: 220px;
        max-width: 90%;
        height: 55px;
        border-radius: 36px;
        color: #EAEFF0;
        outline: none;
        border: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        letter-spacing: 2px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 991px) {
    .your-msg {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .request-demo {
        padding: 80px;
    }
}