<app-header></app-header>
<div class="contact-us-header" id="mainbody">
    <div class="contact-us-hdr-text">
        <p>
            Contact us
        </p>
    </div>
</div>
<div class="main-wrapper my-5">
    <div class="row">
        <div class="col-lg-7 col-sm-12 contant">
            <p>Partnering with the leaders in each market, the Stash global payment network provides a dynamic selection of market specific solutions that includes Mobile Wallets, Digital Open Loop Prepaid Cards, Digital Store cards, QR Codes and Coupons.
            </p>
            <p>

                Embracing the rapid evolution in Fintech, Stash provides a global network of mobile first payments that span across digital prepaid, retail cards, mobile wallets, QR codes, coupons and rewards. With extensive catalogue of over 10,000+ digital partners
                there is limitless reach for your program.
            </p>
        </div>
        <div class="col-lg-5 col-sm-12">
            <div>
                <p style="color: #293165;"><i class="fa fa-envelope" style="font-size: 16px; margin-right: 20px; color: #FF6F70;"></i>info@stash.com.sg</p>
                <p style="color: #293165;"><i class="fa fa-mobile" style="font-size: 28px; margin-right: 20px; color: #FF6F70;;"></i>+65 8220 9072</p>
            </div>
        </div>
    </div>
</div>
<div class="request-demo">
    <div>
        <h3>Get in touch.</h3>
        <div class="row mt-5">
            <div class="col-lg-6 col-sm-12">
                <div>
                    <p>YOUR NAME</p>
                    <input type="text" placeholder="Your name" required>
                </div>
                <div class="mt-4">
                    <p>YOUR EMAIL</p>
                    <input type="text" placeholder="Your email" required>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 your-msg">
                <p>YOUR MESSAGE</p>
                <textarea name="" placeholder="Write your message" id=""></textarea>
            </div>
        </div>
        <div class="mt-4">
            <button>SEND</button>
        </div>
    </div>
</div>
<app-footer></app-footer>