.request-demo {
    background-color: #FF6F70;
    padding: 80px 150px;
    h3 {
        color: #EAEFF0;
        font-style: normal;
        font-weight: normal;
        font-size: 45px;
    }
    input {
        width: 100%;
        border: none;
        outline: none;
        height: 70px;
        font-size: 20px;
        padding: 0 25px;
    }
    textarea {
        width: 100%;
        border: none;
        outline: none;
        font-size: 20px;
        padding: 30px 25px;
        height: 205px;
    }
     ::placeholder {
        color: #c0c0c0;
    }
    p {
        color: #EAEFF0;
        letter-spacing: 5px;
    }
    button {
        background: #293165;
        width: 220px;
        max-width: 90%;
        height: 55px;
        border-radius: 36px;
        color: #EAEFF0;
        outline: none;
        border: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        letter-spacing: 2px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 991px) {
    .your-msg {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 767px) {
    .request-demo {
        padding: 60px;
    }
}