<div class="request-demo" id="request_demo">
    <div>
        <h3>Request a demo.</h3>
        <div class="row mt-5">
            <div class="col-lg-6 col-sm-12">
                <div>
                    <p>YOUR NAME</p>
                    <input type="text" placeholder="Your name" required>
                </div>
                <div class="mt-4">
                    <p>YOUR EMAIL</p>
                    <input type="text" placeholder="Your email" required>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 your-msg">
                <p>YOUR MESSAGE</p>
                <textarea name="" placeholder="Write your message" id=""></textarea>
            </div>
        </div>
        <div class="mt-4">
            <button>SEND</button>
        </div>
    </div>
</div>