<app-header></app-header>
<div class="techno-header" id="mainbody">
    <div class="platform-hdr-text">
        <p>
            Payment Network
        </p>
        <p>mobile first payments across the globe</p>
    </div>
</div>
<div class="main-wrapper my-5">
    <div class="row">
        <div class="col-lg-8 col-12 platform-contant">
            <h3>Limitless reach.</h3>
            <p>Partnering with leading brands within each market, the Stash global payment network provides a dynamic selection of market specific solutions that includes Mobile Wallets, Digital Prepaid Cards, Digital Store cards, QR Codes and Coupons. </p>
            <p>Embracing the rapid evolution in Fintech, Stash provides a global network of mobile first payments that span across digital prepaid, retail cards, mobile wallets, QR codes, coupons and rewards. With extensive catalogue of over 10,000+ digital
                partners there is limitless reach for your program.

            </p>
            <h3 class="p-title mt-4">Stash has established a comprehensive network of payment partners to service all corners of the globe.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-12 tech-contant-1">
            <div class="p-4">
                <img src="./assets/icon/Circle/Global Payments.png" alt="">
                <h3>Global payments</h3>
                <p>Our mobile first payment system provides a dynamic selection of market specific solutions that includes Mobile Wallets, QR Codes, Digital Open Loop Prepaid Cards, Digital Store cards.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 tech-contant-2">
            <div class="p-4">
                <img src="./assets/icon/Circle/QR Code.png" alt="">
                <h3>Communication</h3>
                <p>Embracing the most advanced forms of communication tools available, Stash provides a seamless connection with your audience. We optimise engagement through a combination of gamification, learning tools, social network, chatbot and traditional
                    points of contact.</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 tech-contant-3">
            <div class="p-4">
                <img src="./assets/icon/Circle/VISA.png" alt="">
                <h3>Security</h3>
                <p>Stash has created technology architecture with security at the forefront of our design. Our Security Management Systems cover Product, System and Data protocols. Our modular design and muti-tiered administration systems provides data segmentation
                    and program isolation.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 tech-contant-4">
            <div class="p-4">
                <img src="./assets/icon/Circle/Gift Card.png" alt="">
                <h3>Marketing Analytics & AI</h3>
                <p>Stash utilizes the power of data, AI technology and machine learning to dynamically evolve your program. Stash is able to modify your program in real-time and present payment options at an individual level. With the use of OCR, Stash is
                    able to rapidly increase customer eligibility and reduce processing costs for programs of any size.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 tech-contant-4">
            <div class="p-4">
                <img src="./assets/icon/Circle/Ticket.png" alt="">
                <h3>Marketing Analytics & AI</h3>
                <p>Stash utilizes the power of data, AI technology and machine learning to dynamically evolve your program. Stash is able to modify your program in real-time and present payment options at an individual level. With the use of OCR, Stash is
                    able to rapidly increase customer eligibility and reduce processing costs for programs of any size.
                </p>
            </div>
        </div>
    </div>
</div>
<app-request-demo></app-request-demo>
<app-footer></app-footer>