.techno-header {
    background-image: url(../../assets/images/bg/technology.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    position: relative;
    top: -150px;
    // width: 100vw;
    filter: brightness(0.5);
    overflow-x: hidden;
}