<app-header></app-header>
<div class="techno-header" id="mainbody">
    <div class="platform-hdr-text">
        <p>
            Platform
        </p>
        <p>MULTi-LAYERED SOFTWARE STACK</p>
    </div>
</div>
<div class="main-wrapper my-5">
    <div class="row">
        <div class="col-lg-8 col-12 platform-contant">
            <h3>Customised solutions.</h3>
            <p>Stash provides a multi-layered software architecture to enable customised platform solutions. Our technology offers individualised and purpose driven performance coupled with a global reach. Through the use of a mobile first intuitive platform
                is designed to personalise each touch point and enrich the user experience.
            </p>
        </div>
    </div>
    <h3 class="title mt-4">Our custom software stack.</h3>
    <div class="row">
        <div class="col-lg-4 col-sm-6 col-12 platform-content">
            <div class="p-4">
                <img src="./assets/logo/thestash.png" alt="">
                <ul>
                    <li>Inventory Management System</li>
                    <li>Global Network of Content Partners</li>
                    <li>Open API powering all Stash client applications</li>
                    <li>Realtime reporting system</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 platform-content">
            <div class="p-4">
                <img src="./assets/logo/stash-plus.png" alt="">
                <ul>
                    <li>Points and customer engagement engine</li>
                    <li>White labelled tiered programs</li>
                    <li>Multi market and Multi language solution</li>
                    <li>Mobile wallet with immediate reward access </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 platform-content">
            <div class="p-4">
                <img src="./assets/logo/stash-direct.png" alt="">
                <ul>
                    <li>Self-service portal</li>
                    <li>Client managed campaigns</li>
                    <li>Immediate rewards issuance</li>
                    <li>Realtime float balance </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 col-12 platform-content">
            <div class="p-4">
                <img src="./assets/logo/stash-connect.png" alt="">
                <ul>
                    <li>Customer Campaign Manager</li>
                    <li>Draw down redemption platform</li>
                    <li>OCR claim management system </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-request-demo></app-request-demo>
<app-footer></app-footer>