<app-header></app-header>
<div class="home-header" id="mainbody">
    <div class="home-hdr-text">
        <p>
            Powering engagement through Next-Gen Payment Technologies.
        </p>
    </div>
</div>
<div class="main-wrapper mt-5">
    <div class="row odd-row">
        <div class="col-lg-6 col-sm-12 contant">
            <h3>Platform.</h3>
            <p>Stash provides a multi-layered software architecture that enables advanced customised platform solutions. Our technology focuses on program performance and offers an individualised purpose driven approach. </p>
            <p>
                Through the use of an intuitive digital platform, Stash is engineered to enrich the user experience with personalization at every touch point that is supported with global reach. </p>
            <p> Stash has a unique value proposition by embracing the latest consumer trends and converging next-gen payments with the latest in marketing technology.
            </p>
        </div>
        <div class="col-lg-6 col-sm-12 m-auto text-center">
            <div>
                <img src="./assets/logo/thestash.png" alt="">
            </div>
            <div>

                <img src="./assets/logo/stash-direct.png" alt="">
            </div>
            <div>

                <img src="./assets/logo/stash-connect.png" alt="">
            </div>
            <div>

                <img src="./assets/logo/stash-plus.png" alt="">
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-6 col-sm-12 img-contant">
            <div>
                <img src="./assets/icon/chip.png" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 contant">
            <h3>Technology.</h3>
            <p>The Stash global payment network provides dynamically selected and market specific incentive options.
                <p>
                    Incorporating Mobile Wallets, Digital Open Loop Prepaid Cards, Digital Store cards, QR Codes and Coupons it adapts to evolving market needs. </p>
                <p>
                    At the centre of our technology are our AI and machine learning tools to dynamically optimise your program with real-time analytics. </p>
                <p>
                    Our intuitive communication solution offers gamification, social network, and chatbot to deliver a ubiquitous customer engagement experience.</p>
        </div>

    </div>
    <div class="row odd-row mb-5">
        <div class="col-lg-6 col-sm-12 contant">
            <h3>Payment Network.</h3>
            <p>Having harnessed the rapid evolution of Fintech and creating a unique value chain in the process, Stash provides a mobile first solution that offers limitless reach for your program.</p>
            <p>
                Stash has established a comprehensive network of payment partners to service all corners of the globe.
            </p>
            <p>With over 10,000+ digital partners across many markets, no other provider has the ability to customise incentives with your brand at the same scale.

            </p>
        </div>
        <div class="col-lg-6 col-sm-12 img-contant">
            <div>
                <img src="./assets/icon/global-payments.png" alt="">
            </div>
        </div>
    </div>
</div>
<app-request-demo></app-request-demo>
<app-footer></app-footer>